body {
    height: 100vh;
    margin: 0;
}

.container-fluid {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/CAPA_PROJETO_MAGNA.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -1;
}

.btn-wrapper {
    position: relative;
    display: inline-block;
    z-index: 1;
    top: -15vh;
}

.btn-start {
    background-color: #2e78a0;
    color: white;
    font-size: 24px;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 15rem;
    position: relative;
    z-index: 1;
    border: 2px solid #ffffff;
}

.btn-start:hover {
    background-color: #1e5780;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.paginator {
    text-decoration: none;
    color: white;
}

.btn-icon {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2e78a0;
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    border: 2px solid #ffffff;
    z-index: 2;
    transition: background-color 0.3s, box-shadow 0.3s, left 0.3s;
}

.btn-icon:hover {
    background-color: #1e5780;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    left: -35px;
}

.alignFooter {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
