body {
    background-image: url('../../assets/images/bgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
    min-height: 90vh;
    font-family: "Montserrat", sans-serif;
    src: url("../../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
}

.bgTransparent {
    background-color: #ffffffab;
    min-height: 90vh;
}

.header {
    background-image: url('../../assets/images/bgheader.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    background-color: #19598d;
    border-radius: 0 0 0 100%; 
    z-index: -1;
}

.header .title {
    font-size: 1.8rem;
    font-weight: bold;
}

.header .subtitle{
    margin-left: 15vw;
    font-size: 2rem;
    margin-left: 0vw;
    width: 80%;
}

.imgSize {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.imgSize {
    max-width: 45%;
    height: auto;
    margin-bottom: 15px;
}
  
@media (max-width: 1025px) {
    .imgSize {
        max-width: 100%;
    }

    .image-container {
        flex-direction: column;
    }
}
  
.sumario-container {
    color: white;
    padding: 20px 20px;
    border-radius: 0 0 100% 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    z-index: 1;
}

.arrow {
    margin-left: 5px;
}

.sumario-text {
    display: block;
}

.menu-icon {
    display: none;
    font-size: 1.5rem; 
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .header::before {
        background-color: #19598d;
        width: 200px;
        height: 150px;
        right: 0;
        top: 0;
        border-radius: 0 0 0 100%;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .ml15vw {
        max-width: 70%;
    }

    .title {
        font-size: 1.5rem;
        text-align: center;
        color: white;
    }

    .sumario-container {
        border-radius: 50%;
        padding: 10px;
        font-size: 1.2rem;
        position: absolute;
        top: 40px;
        right: 25px;
        color: white; 
    }

    
}

.collapse-content {
    background-color: #f4e3df;
    padding: 20px;
    border-radius: 10px;
}

.unidade {
    background-color: #98d1c1;
    margin-bottom: 20px;
    border-radius: 10px;
}

.unidade-header {
    background-color: #4f81bd;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
}

.unidade-conteudo {
    list-style: none;
    padding: 20px;
}

.unidade-conteudo li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2f4f4f;
}

.close-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #4f81bd;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.close-btn {
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.close-btn:hover {
    background-color: transparent;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .ml15vw {
        margin-left: 0
    }
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    display: flex;
    justify-content: center;
}

.alignEnd {
    display: flex;
    justify-content: end;
}

.alignCenterOfScreen {
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.arrow-btnLeft, .arrow-btnRight {
    width: 50px;
    height: 50px;
    background-color: #377ab9;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
}

.arrow-btnLeft img, .arrow-btnRight img {
    width: 24px;
    height: 24px;
    fill: white;
}

.leftBtnCard, .rightBtnCard {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.leftBtnCard {
    top: 50%;
    left: 0;
    border-radius: 0 100px 100px 0;
    transform: translateY(-50%); 
}

.leftBtnCard:hover .arrow-btnLeft {
    margin-left: 40px;
    transition: margin-left 0.3s ease;
}

.rightBtnCard {
    top: 50%;
    right: 0;
    border-radius: 100px 0 0 100px;
    transform: translateY(-50%);
}

.rightBtnCard:hover .arrow-btnRight {
    margin-right: 40px;
    transition: margin-right 0.3s ease;
}

.leftBtnCard:hover .arrow-btnLeft, .rightBtnCard:hover .arrow-btnRight {
    background-color: #0056b3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
}

.navHeaderHeight {
    height: 130px;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #3D76A4;
}

.fonte{
    text-align: end;
    font-size: 1.2rem;
}

.describe {
    font-size: 2.5rem;
    font-weight: 500;
}

.imageFontSize{
    font-size: 1.6rem;
}

.tabDescription {
    font-size: 1.0625rem;
    text-align: center;
    color: #666666;
    margin-bottom: 10px;
}

.tabItemButtonDescription {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    color: #444444;
    padding: .5rem 0;
    text-align: center;
}

.custom-button {
    background-color: #5a92c6;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 2.0rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 60%;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #487aab;
}

.collapse-custom {
    width: 100%;
    text-align: center;
    padding: 30px 30px;
    margin-top: 10px;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #5a92c6;
    color: white;
}


/* @media (max-width: 775px) {
    .alignCenterOfScreen {
        display: none;
    }
} */

.footerSlider {
    background: #81adc3;
    border-radius: 100px;
    padding: 16px 30px 16px 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    align-items: center;
}

.mini-slider {
    color: #222222;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: #fff;
    box-shadow: 6px 10px 20px rgba(41, 121, 255, 0.2);
    border-radius: 100px;
    padding: 6px;
    min-width: 280px;
    transition-duration: 0.5s;
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0056b3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: none;
    transition: background-color 0.3s;
}

.btn-circle:hover {
    background-color: #0056b3;
}

.btn-circle img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
}

.btn-left {
    position: relative;
}

.btn-right {
    position: relative;
}

.btn-circle i {
    font-size: 24px;
}

.bgBlueWrapper {
    position: relative;
    width: 98.5vw;
    left: 50%;
    margin-left: -50vw;
}

.bgBlue {
    background-color: #e46c0a;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    position: relative;
    margin-top: 6rem;
}

.bgBlue .describe{
    font-size: 1.8rem;
}

.content {
    text-align: center;
}

/* Estilo da badge */
.badge-custom {
    background-color: #5CAA82;
    color: white;
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    position: absolute;
    top: -35px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 1;
}

.atention{
    background-color: #b6d7a8;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.list-group-item{
    font-size: 2rem;
}

@media (max-width: 576px) {
    .title {
        font-size: 1.5rem;
    }

    .header>.ml15vw>.subtitle{
        font-size: 1.5rem;
    }
    
    .subtitle {
        font-size: 1.2rem;
    }

    .custom-button {
        font-size: 1.5rem;
        padding: 10px;
    }

    .describe {
        font-size: 1.5rem;
    }

    .collapse-custom {
        padding: 20px;
    }
}
