body {
    background-image: url('../../assets/images/bgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
    min-height: 90vh;
    font-family: "Outfit";
    src: url("../../fonts/outfit/OutfitRegular.ttf") format("truetype");
    font-family: "Outfit";
    src: url("../../fonts/outfit/OutfitRegular.ttf") format("truetype");
}

@font-face {
    font-family: "AlumniItalic";
    src: url("../../fonts/alumni/AlumniSansMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Myriado";
    src: url("../../fonts/myriad/MYRIADPRO-REGULAR.OTF") format("truetype");
}

.textBold{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color:#29c1f2;
    font-size: 1.3rem;
}

.sumario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sumario-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    max-width: 800px;
    min-width: 300px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    gap: 10px;
}


.capitulo-numero {
    background-color: #69c0e4;
    flex: 0 0 25%;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 10px;
    border-radius: 30px 0 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "AlumniItalic";
}

.capitulo-titulo {
    flex-grow: 1; /* Permite que o elemento cresça */
    flex-shrink: 0; /* Evita que o elemento encolha além do seu tamanho mínimo */
    flex-basis: auto; /* Define a base como automática */
    padding: 15px 25px;
    font-size: 1.1rem;
    max-width: 100%; /* Limita a largura máxima */
    background-color: #4f81bd;
    color: white;
    border-radius: 0 30px 30px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal; /* Permite a quebra de linha */
    overflow-wrap: break-word; /* Quebra palavras longas */
    word-wrap: break-word; /* Suporte para navegadores mais antigos */
    transition: transform 0.2s, box-shadow 0.2s;
}

.capitulo-titulo a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.capitulo-titulo a:hover {
    text-decoration: underline;
}

.sumario-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.sumario-header-text {
    font-size: 0.9rem;
    color: #6c8ebf;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
}

.sumario-header-text strong {
    color: #4682b4;
    font-weight: bold;
}

.sumario-title {
    font-size: 8.5rem;
    color: rgba(70, 130, 180, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    font-family: "AlumniItalic";
}

@media (max-width: 768px) {
    .sumario-item {
        min-width: 90%;
        height: auto;
    }

    .capitulo-numero {
        font-size: 0.9rem;
        padding: 10px 5px;
    }

    .sumario-title {
        font-size: 5rem;
    }

    .sumario-header {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }
}

.arrow-btnLeft, .arrow-btnRight {
    width: 35px;
    height: 35px;
    background-color: #29c1f2;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
}

.arrow-btnLeft img, .arrow-btnRight img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1); 
}

.leftBtnCard, .rightBtnCard {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.leftBtnCard {
    top: 50%;
    left: 0;
    border-radius: 0 100px 100px 0;
    transform: translateY(-50%); 
}

.leftBtnCard:hover .arrow-btnLeft {
    margin-left: 40px;
    transition: margin-left 0.3s ease;
}

.rightBtnCard {
    top: 50%;
    right: 0;
    border-radius: 100px 0 0 100px;
    transform: translateY(-50%);
}

.rightBtnCard:hover .arrow-btnRight {
    margin-right: 40px;
    transition: margin-right 0.3s ease;
}

.leftBtnCard:hover .arrow-btnLeft, .rightBtnCard:hover .arrow-btnRight {
    background-color: #29c1f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ms5{
    margin-left: 5vw;
}

@media (max-width: 1024px) {
    .flexRow {
        display: initial; /* Pode ser 'block' ou outro valor padrão */
        flex-direction: initial;
        justify-content: initial;
        align-items: initial;
    }

    .ms5 {
        margin-left: 0; /* Remove o espaçamento */
    }
}
