                <div class="container-fluid">
                    <div class="bgGreenWrapper">
                        <div class="row bgGreen">
                            <div class="col-lg-8 col-sm-12 mx-auto">
                                <div class="content">
                                    <span>Para saber o que diz a legislação, acesse o link e confira no ECA os artigos 34 e 101, inciso VIII:</span>
                                    <br>
                                    <a href="http://www.planalto.gov.br/ccivil_03/leis/l8069.html">
                                        http://www.planalto.gov.br/ccivil_03/leis/l8069.html
                                    </a>
                                </div>
                                <a href="#" class="badge-custom">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="col-lg-6 col-sm-12 mt-4 alignCenter flexColumn">
                        <div class="button-container alignCenter mt-3">
                            <a class="custom-button" data-bs-toggle="collapse" href="#collapseContent3" role="button" aria-expanded="false" aria-controls="collapseContent1">
                                Vacina Antitetânica
                            </a>
                        </div>
                
                        <div class="collapse mt-3 w-100 d-lg-none" id="collapseContent3">
                            <table class="table text-center">
                                <thead>
                                    <tr class=" text-center"><th colspan="2"><b>Vacinação antitetânica (dT/dTpa)</b></th></tr>
                                    <tr>
                                        <th scope="col">Histórico vacinal</th>
                                        <th scope="col">Condução na gestação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vacinada com pelo menos 3 doses. <br> Vacinação incompleta tendo 2 doses de vacina.</td>
                                        <td>1 dose de dTpa a partir da 20ª semana de gestação.</td>
                                    </tr>
            
                                    <tr>
                                        <td>Vacinação incompleta tendo apenas 1 dose de vacina.</td>
                                        <td>1 dose de dT e 1 dose de dTpa (a partir da 20ª semana de gestação para a dTpa). Intervalo: 60 dias, mínimo de 30 dias entre elas.</td>
                                    </tr>
            
                                    <tr>
                                        <td>Não vacinadas e/ou histórico vacinal desconhecido.</td>
                                        <td>2 doses de dT e 1 dose de dTpa (a partir da 20ª semana de gestação para a dTpa). Intervalo: 60 dias, mínimo de 30 dias entre elas.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                    <div class="col-lg-6 col-sm-12 mt-4 alignCenter flexColumn">
                        <div class="button-container alignCenter mt-3">
                            <a class="custom-button" data-bs-toggle="collapse" href="#collapseContent4" role="button" aria-expanded="false" aria-controls="collapseContent2">
                                Hepatite B
                            </a>
                        </div>
                
                        <div class="collapse mt-3 w-100 d-lg-none" id="collapseContent4">
                            <div class="card card-body">
                                <table class="table text-center">
                                    <thead>
                                        <tr><th colspan="2">Hepatite B</th></tr>
                                        <tr>
                                            <th scope="col">Histórico vacinal</th>
                                            <th scope="col">Condução na gestação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Gestantes NÃO vacinadas anteriormente.</td>
                                            <td>Três doses.<br>
                                                Esquema: 0 - 1 - 6 meses.<br>
                                                Intervalo de 30 dias entre a primeira e a segunda dose e de seis meses entre a primeira e a terceira doses.</td>
                                        </tr>
                                        <tr>
                                            <td>Gestante fez apenas 1 ou 2 doses durante a vida.</td>
                                            <td>Completar esquema.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



tabelas

                <div class="row d-none d-lg-block">
                    <div class="col-12">
                        <div class="collapse mt-3" id="collapseContent3">
                            <div class="card card-body ">
                                <table class="table text-center">
                                    <thead>
                                        <tr class=" text-center"><th colspan="2"><b>Vacinação antitetânica (dT/dTpa)</b></th></tr>
                                        <tr>
                                            <th scope="col">Histórico vacinal</th>
                                            <th scope="col">Condução na gestação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Vacinada com pelo menos 3 doses. <br> Vacinação incompleta tendo 2 doses de vacina.</td>
                                            <td>1 dose de dTpa a partir da 20ª semana de gestação.</td>
                                        </tr>
                
                                        <tr>
                                            <td>Vacinação incompleta tendo apenas 1 dose de vacina.</td>
                                            <td>1 dose de dT e 1 dose de dTpa (a partir da 20ª semana de gestação para a dTpa). Intervalo: 60 dias, mínimo de 30 dias entre elas.</td>
                                        </tr>
                
                                        <tr>
                                            <td>Não vacinadas e/ou histórico vacinal desconhecido.</td>
                                            <td>2 doses de dT e 1 dose de dTpa (a partir da 20ª semana de gestação para a dTpa). Intervalo: 60 dias, mínimo de 30 dias entre elas.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                
                        <div class="collapse mt-3" id="collapseContent4">
                            <div class="card card-body">
                                <table class="table text-center">
                                    <thead>
                                        <tr><th colspan="2">Hepatite B</th></tr>
                                        <tr>
                                            <th scope="col">Histórico vacinal</th>
                                            <th scope="col">Condução na gestação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Gestantes NÃO vacinadas anteriormente.</td>
                                            <td>Três doses.<br>
                                                Esquema: 0 - 1 - 6 meses.<br>
                                                Intervalo de 30 dias entre a primeira e a segunda dose e de seis meses entre a primeira e a terceira doses.</td>
                                        </tr>
                                        <tr>
                                            <td>Gestante fez apenas 1 ou 2 doses durante a vida.</td>
                                            <td>Completar esquema.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>