/* Import global styles */
@import url('../global.css');

body {
    background-image: url('../../assets/images/bgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
    min-height: 90vh;
    font-family: "Outfit";
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/outfit/OutfitRegular.ttf") format("truetype");
}

.title {
    color: #004A82;
    text-align: left;
    margin-left: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: bolder;
    font-size: var(--font-size-2xl);
}

.describe {
    line-height: var(--line-height-relaxed);
    font-weight: bold;
}

.textBold {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #29c1f2;
    font-size: var(--font-size-lg);
}

.titleBlueGray {
    color: #29c1f2;
    text-align: left;
    margin-left: 10px;
    font-family: "Outfit";
    font-size: var(--font-size-xl);
}

@media (max-width: 768px) {
    .title {
        font-size: var(--font-size-xl);
        margin-left: 0;
    }
    
    .textBold {
        font-size: var(--font-size-base);
    }
    
    .titleBlueGray {
        font-size: var(--font-size-lg);
    }
}
