body {
    background-image: url('../../assets/images/bgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
    min-height: 90vh;
}

.bgTransparent{
    background-color: #ffffffab;
}

.alignCenter{
    display: flex;
    justify-content: center;
}

.alignCenterOfScreen {
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.arrow-btnLeft, .arrow-btnRight {
    width: 50px;
    height: 50px;
    background-color: #377ab9; /* Azul mais claro */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
}

.arrow-btnLeft img, .arrow-btnRight img {
    width: 24px;
    height: 24px;
    fill: white;
}

.leftBtnCard, .rightBtnCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.leftBtnCard:hover .arrow-btnLeft, .rightBtnCard:hover .arrow-btnRight {
    background-color: #0056b3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.leftBtnCard {
    border-radius: 0 100px 100px 0;
}

.leftBtnCard:hover .arrow-btnLeft {
    margin-left: 40px;
    transition: margin-left 0.3s ease;
}

.rightBtnCard {
    border-radius: 100px 0 0 100px;
}

.rightBtnCard:hover .arrow-btnRight {
    margin-right: 40px;
    transition: margin-right 0.3s ease;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
}

.titulo {
    font-size: 4rem;
    color: #4682B4;
    margin-top: 100px;
}

.describe{
    font-size: 1.25rem;
    font-weight: 500;
    word-break: break-all;

}

.describe a {
    display: block;
    word-wrap: break-word;
}

.unidade {
    background-color: #98d1c1;
    margin-bottom: 20px;
    border-radius: 10px;
}

.unidade-header {
    background-color: #4f81bd;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.unidade-conteudo {
    list-style: none;
    padding: 20px;
}

.unidade-conteudo li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2f4f4f;
}

.footerSlider {
    background: #81adc3;
    border-radius: 100px;
    padding: 16px 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper {
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    display: inline-block;
    min-width: 15rem;
}

.btn-start {
    background-color: #2e78a0;
    color: white;
    font-size: 24px;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 15rem;
}

.btn-start:hover {
    background-color: #1e5780;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.paginator{
    text-decoration: none;
    color: white;
}