body {
    background-image: url('../../assets/images/bgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
    min-height: 90vh;
    font-family: "Outfit";
    src: url("../../fonts/outfit/OutfitRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/outfit/OutfitRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/outfit/Outfit.ttf") format("truetype");
}

@font-face {
    font-family: "OutfitMedium";
    src: url("../../fonts/outfit/OutfitMedium.ttf") format("truetype");
}

.vh100{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.title{
    color: #0e5dac;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Outfit";
}

.subtitle{
    color: #0e5dac;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Outfit";
}

.subtitleGray{
    color: #69c0e4;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Outfit";
}

.titleGray{
    color: #69c0e4;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Outfit";
}

.description{
    color: #0e5dac;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Outfit";
}

.bgTransparent {
    background-color: #ffffffab;
}

.alignCenter {
    display: flex;
    justify-content: center;
}

.alignCenterOfScreen {
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.arrow-btnLeft,
.arrow-btnRight {
    width: 50px;
    height: 50px;
    background-color: #29c1f2;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
}

.arrow-btnLeft img,
.arrow-btnRight img {
    width: 24px;
    height: 24px;
}

.leftBtnCard,
.rightBtnCard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.leftBtnCard:hover .arrow-btnLeft,
.rightBtnCard:hover .arrow-btnRight {
    background-color: #29c1f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.leftBtnCard {
    border-radius: 0 100px 100px 0;
}

.rightBtnCard {
    border-radius: 100px 0 0 100px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
}

.card {
    border: 2px solid black;
    min-height: 50vh;
}

.alignAllCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author-list {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #0e5dac;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Outfit";
}

.footer p {
    margin: 5px 0;
    font-size: 20px;
    font-weight: 600;

}

.describe{
    font-weight: 500;
}

.describe-question {
    font-style: italic;
}

.blue{
    color: blue;
    font-weight: 600;
}

.content{
    height: 40vh;
}

.warning {
    color: #d15263; /* Example color */
    font-weight: bold; /* Makes text bold */
    background-color: yellow; /* Optional background color */
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #69c0e4;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: auto;
}

.pagination-btn {
    background-color: #ffffff;
    color: #19598d;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.pagination-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0 10px;
}

.leftBtnCard,
.rightBtnCard {
    display: none;
}

@media (max-width: 576px) {
    .leftBtnCard,
    .rightBtnCard {
        display: none;
    }

    .titleGray {
        font-size: 2rem;
    }

    .subtitle{
        font-size: 1.2rem;
    }

    .subtitleGray{
        font-size: 1.2rem;
    }

    .description{
        font-size: 1rem;
    }

    .pagination-text {
        font-size: 1rem;
    }
}

.mt10{
    /* margin-top: 30vh; */
    position: absolute;
    bottom: -3vh;
}