/* Import global styles */
@import url('../global.css');

@import url('../../responsive.css');

body {
    background-image: url('../../assets/images/bgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
    min-height: 90vh;
    font-family: "Outfit";
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/outfit/OutfitRegular.ttf") format("truetype");
}

@font-face {
    font-family: "AlumniItalic";
    src: url("../../fonts/alumni/AlumniSansMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Myriado";
    src: url("../../fonts/myriad/MYRIADPRO-REGULAR.OTF") format("truetype");
}

.title {
    color: #004A82;
    text-align: left;
    margin-left: 10px;
    font-family: "Myriado", sans-serif;
    font-weight: bolder;
}

.textBold {
    font-family: "Outfit";
}

.titleBlueGray {
    color: #29c1f2;
    text-align: left;
    margin-left: 10px;
    font-family: "Outfit";
}

.describe {
    line-height: var(--line-height-relaxed);
    font-weight: bold;
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 30px;
    width: 180px;
    height: 60px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding: 5px;
    line-height: var(--line-height-tight);
}

@media (max-width: 768px) {
    .title {
        margin-left: 0;
    }
    
    .custom-button {
        padding: 10px;
    }
    
    .describe {
        font-size: var(--font-size-lg);
    }
    
    .collapse-custom {
        padding: 20px;
    }
}