body {
    height: 100vh;
    margin: 0;
}

.container-fluid {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/CAPA_PROJETO_MAGNA.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5; /* Opacidade aplicada apenas à imagem de fundo */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.btn-wrapper {
    background-color: white;
    border-radius: 50px;
    padding: 3px;
    display: inline-block;
    z-index: 1; /* Garante que o botão fique acima da imagem de fundo */
}

.btn-start {
    background-color: #2e78a0;
    color: white;
    font-size: 24px;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 15rem;
}

.btn-start:hover {
    background-color: #1e5780;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.paginator {
    text-decoration: none;
    color: white;
}